*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    padding: 15px 0px;
    margin-bottom:20px;
}
main{
    width: 90vw;
    margin: 0 auto;
}
main h2{
    margin-bottom: 20px;
    text-align: center;
}
header img{
    width: 140px;
}
.btn{
    padding: 8px 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-white{
    background-color: white;
    color: black;
}

.center {
    width: 90vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.table {
    width: 100%;
}

table,
td,
th {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 16px;
}

footer{
    text-align: center;
    padding: 15px 0px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

